@import './colors';

// todo: colors variables
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-color: var(--text-color);
$secondary-color-alt: var(--secondary-color-alt);
$bg-color: var(--bg-color);